In [1]:
import requests
import mysql.connector
from mysql.connector import Error

import mysql_creds

In [2]:
mysql_creds.host

'localhost'

In [38]:
# Set up the API call variables
sample_game_data = []
year = '2021'
season_type = '02' 
max_game_ID = 1290

In [39]:
# Loop over the counter and format the API call
for i in range(1,101):
    r = requests.get(url='http://statsapi.web.nhl.com/api/v1/game/'
        + year + season_type +str(i).zfill(4)+'/feed/live')
    data = r.json()
    sample_game_data.append(data)

## Drop existing tables

In [4]:
try:
    connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
    
    
    mySql_drop_Query = """DROP TABLE IF EXISTS team ;\
    DROP TABLE IF EXISTS division;\
    DROP TABLE IF EXISTS conference;
    DROP TABLE IF EXISTS game;"""
    
    
    cursor = connection.cursor()
    result = cursor.execute(mySql_drop_Query)
    print("existing tables dropped successfully ")

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

existing tables dropped successfully

### Conference and Division data

#### Create the conference table and add all of the tables

In [5]:
conf_info = requests.get(url='https://statsapi.web.nhl.com/api/v1/conferences')
conf_info = conf_info.json()
conf_info = conf_info['conferences']

In [6]:
try:
    connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
    
    
    mySql_Create_Table_Query = """CREATE TABLE conference(Id int NOT NULL,\
    name varchar(20) NOT NULL,\
    abbreviation varchar(5) NOT NULL,\
    nameShort varchar(10) NOT NULL,\
    PRIMARY KEY (Id))"""
    
    
    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("conference table created successfully ")

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

conference table created successfully
MySQL connection is closed

In [7]:
def create_conference_insert_statement(conf_stats):
    
    conf_id = conf_stats['id']
    conf_fullname = conf_stats['name']
    conf_abbr = conf_stats['abbreviation']
    conf_nameShort = conf_stats['shortName']
    
    insert_statement = """INSERT INTO conference(Id, name, abbreviation, nameShort)\
    VALUES ({}, '{}', '{}',  '{}')"""\
    .format(conf_id, conf_fullname, conf_abbr, conf_nameShort)
    
    return insert_statement
    
for conference in conf_info:
        
    try:
        connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
        
        mySql_insert_query = create_conference_insert_statement(conference)

        cursor = connection.cursor()
        cursor.execute(mySql_insert_query)
        connection.commit()
        print("{}, inserted successfully into conference table".format(conference['name']))
        cursor.close()

    except mysql.connector.Error as error:
        print("Failed to insert record into Laptop table {}".format(error))

    finally:
        if connection.is_connected():
            connection.close()
#             print("MySQL connection is closed")

Eastern, inserted successfully into conference table
Western, inserted successfully into conference table

#### Division

In [8]:
div_info = requests.get(url='https://statsapi.web.nhl.com/api/v1/divisions')
div_info = div_info.json()
div_info = div_info['divisions']

In [9]:
try:
    connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
    
    
    mySql_Create_Table_Query = """CREATE TABLE division(Id int NOT NULL,\
    name varchar(20) NOT NULL,\
    nameShort varchar(5) NOT NULL,\
    abbreviation varchar(5) NOT NULL,\
    conference int NOT NULL,\
    PRIMARY KEY (Id),\
    FOREIGN KEY (conference) REFERENCES conference(Id))"""
    
    
    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("division Table created successfully ")

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

division Table created successfully
MySQL connection is closed

In [10]:
def create_division_insert_statement(div_info):
    
    div_id = div_info['id']
    div_fullname = div_info['name']
    div_abbr = div_info['abbreviation']
    div_nameShort = div_info['nameShort']
    div_conf = div_info['conference']['id']
    
    insert_statement = """INSERT INTO division(Id, name, abbreviation, nameShort, conference)\
    VALUES ({}, '{}', '{}',  '{}', {})"""\
    .format(div_id, div_fullname, div_abbr, div_nameShort, div_conf)
    
    return insert_statement
    
for division in div_info:
        
    try:
        connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
        
        mySql_insert_query = create_division_insert_statement(division)

        cursor = connection.cursor()
        cursor.execute(mySql_insert_query)
        connection.commit()
        print("{}, inserted successfully into division table".format(division['name']))
        cursor.close()

    except mysql.connector.Error as error:
        print("Failed to insert record into Laptop table {}".format(error))

    finally:
        if connection.is_connected():
            connection.close()
#             print("MySQL connection is closed")

Atlantic, inserted successfully into division table
Central, inserted successfully into division table
Metropolitan, inserted successfully into division table
Pacific, inserted successfully into division table

## First I'm going to get information related to the teams

In [11]:
team_info =  requests.get(url='https://statsapi.web.nhl.com/api/v1/teams')
team_info = team_info.json()

### First, build the team table

In [43]:
try:
    connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
    
    
    mySql_Create_Table_Query = """CREATE TABLE team(Id int NOT NULL,\
    fullName varchar(50) NOT NULL,\
    abbr varchar(5) NOT NULL,\
    teamName varchar(25) NOT NULL,\
    locationName varchar(25) NOT NULL,\
    division int NOT NULL,\
    conference int NOT NULL,\
    PRIMARY KEY (Id))"""
    
    
    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("Team Table created successfully ")

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Team Table created successfully
MySQL connection is closed

In [44]:
def create_team_insert_statement(team_stats):
    
    team_id = team_stats['id']
    team_fullname = team_stats['name']
    team_abbr = team_stats['abbreviation']
    team_teamName = team_stats['teamName']
    team_locationName = team_stats['locationName']
    team_division = team_stats['division']['id']
    team_conference = team_stats['conference']['id']
    
    insert_statement = """INSERT INTO team(Id, fullName, abbr, teamName, locationName, division, conference)\
    VALUES ({}, '{}', '{}', '{}', '{}', {}, {})"""\
    .format(team_id, team_fullname, team_abbr, team_teamName, team_locationName, team_division, team_conference)
    
    return insert_statement
    
for team in team_info['teams']:
        
    try:
        connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)

        mySql_insert_query = create_team_insert_statement(team)

        cursor = connection.cursor()
        cursor.execute(mySql_insert_query)
        connection.commit()
        print("{}, inserted successfully into team table".format(team['name']))
        cursor.close()

    except mysql.connector.Error as error:
        print("Failed to insert record into Laptop table {}".format(error))

    finally:
        if connection.is_connected():
            connection.close()
#             print("MySQL connection is closed")

New Jersey Devils, inserted successfully into team table
New York Islanders, inserted successfully into team table
New York Rangers, inserted successfully into team table
Philadelphia Flyers, inserted successfully into team table
Pittsburgh Penguins, inserted successfully into team table
Boston Bruins, inserted successfully into team table
Buffalo Sabres, inserted successfully into team table
Montr√©al Canadiens, inserted successfully into team table
Ottawa Senators, inserted successfully into team table
Toronto Maple Leafs, inserted successfully into team table
Carolina Hurricanes, inserted successfully into team table
Florida Panthers, inserted successfully into team table
Tampa Bay Lightning, inserted successfully into team table
Washington Capitals, inserted successfully into team table
Chicago Blackhawks, inserted successfully into team table
Detroit Red Wings, inserted successfully into team table
Nashville Predators, inserted successfully into team table
St. Louis Blues, inserted successfully into team table
Calgary Flames, inserted successfully into team table
Colorado Avalanche, inserted successfully into team table
Edmonton Oilers, inserted successfully into team table
Vancouver Canucks, inserted successfully into team table
Anaheim Ducks, inserted successfully into team table
Dallas Stars, inserted successfully into team table
Los Angeles Kings, inserted successfully into team table
San Jose Sharks, inserted successfully into team table
Columbus Blue Jackets, inserted successfully into team table
Minnesota Wild, inserted successfully into team table
Winnipeg Jets, inserted successfully into team table
Arizona Coyotes, inserted successfully into team table
Vegas Golden Knights, inserted successfully into team table
Seattle Kraken, inserted successfully into team table

## Game Table

In [45]:
try:
    connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
    
    
    mySql_Create_Table_Query = """CREATE TABLE game(Id int NOT NULL,\
    season varchar(10) NOT NULL,\
    type varchar(5) NOT NULL,\
    startDateTime datetime NOT NULL,\
    endDateTime datetime NOT NULL,\
    awayTeam int NOT NULL,\
    homeTeam int NOT NULL,\
    PRIMARY KEY (Id))"""
    
    
    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("Team game created successfully ")

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Team game created successfully
MySQL connection is closed

In [58]:
def create_game_insert_statement(game_info):
    game_id = game_info['gameData']['game']['pk']
    game_season = game_info['gameData']['game']['season']
    game_type = game_info['gameData']['game']['type']
    game_startDateTime = pd.to_datetime(game_data[0]['gameData']['datetime']['dateTime']).strftime('%Y-%m-%d %H:%M:%S')
    game_endDateTime = pd.to_datetime(game_data[0]['gameData']['datetime']['endDateTime']).strftime('%Y-%m-%d %H:%M:%S')
    away_team = game_info['gameData']['teams']['away']['id']
    home_team = game_info['gameData']['teams']['home']['id']
    
    insert_statement = """INSERT INTO game(Id, season, type, startDateTime, endDateTime, awayTeam, homeTeam)\
    VALUES ({}, '{}', '{}', '{}', '{}', {}, {})"""\
    .format(game_id, game_season, game_type, game_startDateTime, game_endDateTime, away_team, home_team)
    
    return insert_statement
    
for game in sample_game_data:
        
    try:
        connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)

        mySql_insert_query = create_game_insert_statement(game)

        cursor = connection.cursor()
        cursor.execute(mySql_insert_query)
        connection.commit()
        print("{}, inserted successfully into game table".format(game['gameData']['game']['pk']))
        cursor.close()

    except mysql.connector.Error as error:
        print("Failed to insert record into table {}".format(error))

    finally:
        if connection.is_connected():
            connection.close()
#             print("MySQL connection is closed")

2021020001, inserted successfully into game table
2021020002, inserted successfully into game table
2021020003, inserted successfully into game table
2021020004, inserted successfully into game table
2021020005, inserted successfully into game table
2021020006, inserted successfully into game table
2021020007, inserted successfully into game table
2021020008, inserted successfully into game table
2021020009, inserted successfully into game table
2021020010, inserted successfully into game table
2021020011, inserted successfully into game table
2021020012, inserted successfully into game table
2021020013, inserted successfully into game table
2021020014, inserted successfully into game table
2021020015, inserted successfully into game table
2021020016, inserted successfully into game table
2021020017, inserted successfully into game table
2021020018, inserted successfully into game table
2021020019, inserted successfully into game table
2021020020, inserted successfully into game table
2021020021, inserted successfully into game table
2021020022, inserted successfully into game table
2021020023, inserted successfully into game table
2021020024, inserted successfully into game table
2021020025, inserted successfully into game table
2021020026, inserted successfully into game table
2021020027, inserted successfully into game table
2021020028, inserted successfully into game table
2021020029, inserted successfully into game table
2021020030, inserted successfully into game table
2021020031, inserted successfully into game table
2021020032, inserted successfully into game table
2021020033, inserted successfully into game table
2021020034, inserted successfully into game table
2021020035, inserted successfully into game table
2021020036, inserted successfully into game table
2021020037, inserted successfully into game table
2021020038, inserted successfully into game table
2021020039, inserted successfully into game table
2021020040, inserted successfully into game table
2021020041, inserted successfully into game table
2021020042, inserted successfully into game table
2021020043, inserted successfully into game table
2021020044, inserted successfully into game table
2021020045, inserted successfully into game table
2021020046, inserted successfully into game table
2021020047, inserted successfully into game table
2021020048, inserted successfully into game table
2021020049, inserted successfully into game table
2021020050, inserted successfully into game table
2021020051, inserted successfully into game table
2021020052, inserted successfully into game table
2021020053, inserted successfully into game table
2021020054, inserted successfully into game table
2021020055, inserted successfully into game table
2021020056, inserted successfully into game table
2021020057, inserted successfully into game table
2021020058, inserted successfully into game table
2021020059, inserted successfully into game table
2021020060, inserted successfully into game table
2021020061, inserted successfully into game table
2021020062, inserted successfully into game table
2021020063, inserted successfully into game table
2021020064, inserted successfully into game table
2021020065, inserted successfully into game table
2021020066, inserted successfully into game table
2021020067, inserted successfully into game table
2021020068, inserted successfully into game table
2021020069, inserted successfully into game table
2021020070, inserted successfully into game table
2021020071, inserted successfully into game table
2021020072, inserted successfully into game table
2021020073, inserted successfully into game table
2021020074, inserted successfully into game table
2021020075, inserted successfully into game table
2021020076, inserted successfully into game table
2021020077, inserted successfully into game table
2021020078, inserted successfully into game table
2021020079, inserted successfully into game table
2021020080, inserted successfully into game table
2021020081, inserted successfully into game table
2021020082, inserted successfully into game table
2021020083, inserted successfully into game table
2021020084, inserted successfully into game table
2021020085, inserted successfully into game table
2021020086, inserted successfully into game table
2021020087, inserted successfully into game table
2021020088, inserted successfully into game table
2021020089, inserted successfully into game table
2021020090, inserted successfully into game table
2021020091, inserted successfully into game table
2021020092, inserted successfully into game table
2021020093, inserted successfully into game table
2021020094, inserted successfully into game table
2021020095, inserted successfully into game table
2021020096, inserted successfully into game table
2021020097, inserted successfully into game table
2021020098, inserted successfully into game table
2021020099, inserted successfully into game table
2021020100, inserted successfully into game table

## Player Table

In [359]:
try:
    connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)
    
    
    mySql_Create_Table_Query = """CREATE TABLE player(ID int NOT NULL,\
    fullName varchar(50) NOT NULL,\
    firstName varchar(25) NOT NULL,\
    lastName varchar(25) NOT NULL,\
    primaryNumner int ,\
    birthDate varchar(15) NOT NULL,\
    birthCity varchar(45) NOT NULL,\
    birthState varchar(25),\
    birthCountry varchar(25) NOT NULL,\
    height int NOT NULL,\
    weight int NOT NULL,\
    active varchar(5) NOT NULL,\
    alternateCaptain varchar(5) ,\
    captain varchar(5),\
    shootsCatches varchar(5) NOT NULL,\
    position varchar(25) NOT NULL,\
    PRIMARY KEY (Id))"""
    
    
    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("Team player created successfully ")

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Team player created successfully
MySQL connection is closed

In [361]:
def get_numeric_height(height):
    
    height_clean = height.strip("'").strip('"').split("' ")
    
    total_inches = (int(height_clean[0]) * 12) + int(height_clean[1])
    
    return total_inches

def get_player_info(player_id):
    
    player_id = str(player_id)
    
    ## use the player info to get the json file
    api_url = 'https://statsapi.web.nhl.com/api/v1/people/' + player_id
    player_data = requests.get(url = api_url)
    player_data = player_data.json()
    player_data = player_data['people'][0]
    
    ## get the specific stats we want
    playerId = player_data['id']
    fullName = player_data['fullName']
    firstName =  player_data['firstName']
    lastName =  player_data['lastName']
    birthDate =  player_data['birthDate']
    birthCity =  player_data['birthCity']
    birthCountry =  player_data['birthCountry']
    height =  get_numeric_height(player_data['height'])
    weight =  player_data['weight']
    active =  player_data['active']
    shootsCatches = player_data['shootsCatches']
    position = player_data['primaryPosition']['name']
    
    
    ## the conditional items (older values don't have this):
    
    
    if 'primaryNumber' in player_data:
        primaryNumner= player_data['primaryNumber']
    else:
        primaryNumner = 'NULL'
    
    
    if 'birthStateProvince' in player_data:
        birthState= player_data['birthStateProvince']
    else:
        birthState = 'NULL'

        
    if 'alternateCaptain' in player_data:
        alternateCaptain= player_data['alternateCaptain']
    else:
        alternateCaptain = 'NULL'
     
    
    if 'captain' in player_data:
        captain= player_data['captain']
    else:
        captain = 'NULL'
    
    
    insert_statement = """REPLACE INTO player(Id, fullName, firstName, lastName, primaryNumner, birthDate, birthCity,\
    birthState, birthCountry, height, weight, active, alternateCaptain, captain, shootsCatches, position)\
    VALUES ({}, "{}", "{}", "{}", {}, '{}', "{}", '{}', '{}', {}, {}, '{}', '{}', '{}', '{}', '{}');"""\
    .format(playerId, fullName, firstName, lastName, primaryNumner, birthDate, birthCity,
            birthState, birthCountry, height, weight, active, alternateCaptain, captain, shootsCatches, position)
   
    return insert_statement

In [362]:
seasons = ['20052006', '20062007','20072008','20082009','20092010','20102011','20112012','20122013','20132014',
           '20142015','20152016','20162017','20172018','20182019','20192020','20202021','20212022']

def get_players_from_roster(roster_obj):
    
    ## get our roster object
    roster = roster_obj['teams'][0]['roster']['roster']
    
    ## Return a list of player ID's on that roster
    player_ids = []
    for player in roster:
        
        player_id = player['person']['id']
        player_ids.append(player_id)
        
    return player_id

## for every season, for every team, if the team existed at the time
for season in seasons:
    for team in range(1,33):
        
        
        ## try to get the team roster
        url = 'https://statsapi.web.nhl.com/api/v1/teams/' + str(team) + '?expand=team.roster&season=' + season
        team_roster_obj = requests.get(url = url)
        team_roster_obj = team_roster_obj.json()
        
        ## If this team roster exists
        if 'message' not in team_roster_obj:
            
            ## Get a list of player IDs from the roster object
            players = get_players_from_roster(team_roster_obj)
            
            for player in players:
            
                try:
                    connection = mysql.connector.connect(host=mysql_creds.host,
                                         database=mysql_creds.database,
                                         user=mysql_creds.user,
                                         password=mysql_creds.password)

                    mySql_insert_query = get_player_info(player)

                    cursor = connection.cursor()
                    cursor.execute(mySql_insert_query)
                    connection.commit()
                    cursor.close()

                except mysql.connector.Error as error:
                    print("Failed to insert record into table {}".format(error))

                finally:
                    if connection.is_connected():
                        connection.close()
                        
                                   
            
            
        
    print(season, 'complete')

20052006 complete
20062007 complete
20072008 complete
20082009 complete
20092010 complete
20102011 complete
20112012 complete
20122013 complete
20132014 complete
20142015 complete
20152016 complete
20162017 complete
20172018 complete
20182019 complete
20192020 complete
20202021 complete
20212022 complete

In [338]:
api_url = 'https://statsapi.web.nhl.com/api/v1/people/8479525'
player_data = requests.get(url = api_url)
player_data = player_data.json()

player_data['people'][0]['height'].strip("'").strip('"').split("' ")

['6', '0']

In [335]:
s = player_data['people'][0]['height']
s.split(' ' )

["6'", '0"']

72

### Game data

In [16]:
# Loop over the counter and format the API call
for i in range(1,6):
    r = requests.get(url='http://statsapi.web.nhl.com/api/v1/game/'
        + year + season_type +str(i).zfill(4)+'/feed/live')
    data = r.json()
    game_data.append(data)

In [90]:
game_data[0]['liveData']['plays']['allPlays'][7].keys()

dict_keys(['players', 'result', 'about', 'coordinates', 'team'])

In [129]:
game_data[0]['liveData']['plays']['allPlays'][49]

{'players': [{'player': {'id': 8479525,
    'fullName': 'Ross Colton',
    'link': '/api/v1/people/8479525'},
   'playerType': 'Hitter'},
  {'player': {'id': 8478542,
    'fullName': 'Evan Rodrigues',
    'link': '/api/v1/people/8478542'},
   'playerType': 'Hittee'}],
 'result': {'event': 'Hit',
  'eventCode': 'TBL29',
  'eventTypeId': 'HIT',
  'description': 'Ross Colton hit Evan Rodrigues'},
 'about': {'eventIdx': 49,
  'eventId': 29,
  'period': 1,
  'periodType': 'REGULAR',
  'ordinalNum': '1st',
  'periodTime': '06:29',
  'periodTimeRemaining': '13:31',
  'dateTime': '2021-10-12T23:57:37Z',
  'goals': {'away': 0, 'home': 0}},
 'coordinates': {'x': -31.0, 'y': -40.0},
 'team': {'id': 14,
  'name': 'Tampa Bay Lightning',
  'link': '/api/v1/teams/14',
  'triCode': 'TBL'}}

In [125]:
event_type_dict = dict()

for event in game_data[0]['liveData']['plays']['allPlays']:
        
    if event['result']['event'] not in event_type_dict:
        event_type_dict[event['result']['event']] = 1
        
        
    if event['result']['event'] in event_type_dict:
        event_type_dict[event['result']['event']] += 1

In [126]:
event_type_dict

{'Game Scheduled': 2,
 'Period Ready': 4,
 'Period Start': 4,
 'Faceoff': 70,
 'Hit': 60,
 'Stoppage': 57,
 'Shot': 56,
 'Takeaway': 9,
 'Blocked Shot': 27,
 'Missed Shot': 25,
 'Giveaway': 8,
 'Period End': 4,
 'Period Official': 4,
 'Goal': 9,
 'Penalty': 3,
 'Game End': 2,
 'Game Official': 2}